.main{
    background: rgb(120, 128, 128);
    height: 50vh;
    padding-top: 20px;
}

.item{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    padding-bottom: 10px;
}

.name{
    font-size: 20px;
    font-weight: bold;
}

.email{
    font-size: 15px;
    color: rgb(60, 1, 94);
    font-weight: bold;
}

.item i{
    color: red;
    font-size: larger;
}