.navbar{
    background: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* gap: 10px; */
}

.left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.left span{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: aliceblue;
}

.right a{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: larger;
    font-weight: 600;
}

.right a span{
    color: rgb(0, 140, 255);
}

